*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container-icons{
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 500;
}

.iconoWhatsapp{
    display: flex;
    font-size: 45px;
    transition: all 300ms;
    color: rgb(85, 247, 10);
    
    
}

.container-icons .iconoWhatsapp:hover{
    transform: rotate(20deg);
}

