.video1{
    height: 1200px;
    max-width: 100%;
    align-items: center;
    background: black;
    margin-bottom: 100px;
    position: relative;
    margin: auto;
}




.img123{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 200px;
  }



.wave-video{
   
     overflow: hidden;
     position: absolute;
     width: 100%;
     top: -2px;
}

.wave-video1{
    height: 100%;
     width: 100%;
}

.wave-video2{
    stroke: none;
     fill: rgb(255, 255, 255);
}


@media (max-width: 400px){
  
    .video1{
        height: 600px;
        max-width: 100%;
        align-items: center;
        background: black;
        position: relative;
        display: flex;
        justify-content: center;
       
    }

    .img123{
        width: 700px;
        height: 650px;
       
    }
    
    
    
    
}


@media screen and (min-width: 401px) and  (max-width: 800px){

    .video1{
        background: black;
        display: flex;
         justify-content: center;
         align-items: center;
         height: 590px;
         margin: auto;
        
     }
 
     .img123{
         width: 500px;
         height: 350px;
         
     }
     

}